
img {
    width: 50%;
    height: 37rem;
    vertical-align: center;
    padding-bottom: 1ch;
    flex-direction: row;

}
div {
    display: flex;
    flex-direction: column;
} 

p{
    text-align: center;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    color: royalblue;
    font-size: 2.5ch;
    font-family: 'Dancing Script', cursive;
}

header{
    width: 100%;
    background-color: black;
    color: powderblue;
    padding: 3ch;
    margin-bottom: -30ch;
    font-family: 'Dancing Script', cursive;
}
  
